@namespace BlazorAppTier1.Pages.UIElements

<img src="https://github.githubassets.com/images/mona-loading-dimmed.gif" alt="Computer man" style="width:100px;height:100px;">
<p> Loading @message ...</p>

@code {
    [Parameter]
    public string message { get; set; }
}